<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StudentFamilyMapper">
    
    <resultMap type="StudentFamily" id="StudentFamilyResult">
        <result property="familyId"    column="family_id"    />
        <result property="studentId"    column="student_id"    />
        <result property="parentName"    column="parent_name"    />
        <result property="parentRelation"    column="parent_relation"    />
        <result property="parentJob"    column="parent_job"    />
        <result property="familyAddress"    column="family_address"    />
        <result property="familyIncome"    column="family_income"    />
        <result property="familyPhone"    column="family_phone"    />
    </resultMap>

    <sql id="selectStudentFamilyVo">
        select family_id, student_id, parent_name, parent_relation, parent_job, family_address, family_income, family_phone from student_family
    </sql>

    <select id="selectStudentFamilyList" parameterType="StudentFamily" resultMap="StudentFamilyResult">
        <include refid="selectStudentFamilyVo"/>
        <where>  
            <if test="studentId != null "> and student_id = #{studentId}</if>
            <if test="parentName != null  and parentName != ''"> and parent_name like concat('%', #{parentName}, '%')</if>
            <if test="parentRelation != null  and parentRelation != ''"> and parent_relation = #{parentRelation}</if>
            <if test="parentJob != null  and parentJob != ''"> and parent_job = #{parentJob}</if>
            <if test="familyAddress != null  and familyAddress != ''"> and family_address = #{familyAddress}</if>
            <if test="familyIncome != null  and familyIncome != ''"> and family_income = #{familyIncome}</if>
            <if test="familyPhone != null  and familyPhone != ''"> and family_phone = #{familyPhone}</if>
        </where>
    </select>
    
    <select id="selectStudentFamilyByFamilyId" parameterType="Long" resultMap="StudentFamilyResult">
        <include refid="selectStudentFamilyVo"/>
        where family_id = #{familyId}
    </select>

    <insert id="insertStudentFamily" parameterType="StudentFamily" useGeneratedKeys="true" keyProperty="familyId">
        insert into student_family
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId != null">student_id,</if>
            <if test="parentName != null">parent_name,</if>
            <if test="parentRelation != null">parent_relation,</if>
            <if test="parentJob != null">parent_job,</if>
            <if test="familyAddress != null">family_address,</if>
            <if test="familyIncome != null">family_income,</if>
            <if test="familyPhone != null">family_phone,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentId != null">#{studentId},</if>
            <if test="parentName != null">#{parentName},</if>
            <if test="parentRelation != null">#{parentRelation},</if>
            <if test="parentJob != null">#{parentJob},</if>
            <if test="familyAddress != null">#{familyAddress},</if>
            <if test="familyIncome != null">#{familyIncome},</if>
            <if test="familyPhone != null">#{familyPhone},</if>
         </trim>
    </insert>

    <update id="updateStudentFamily" parameterType="StudentFamily">
        update student_family
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentId != null">student_id = #{studentId},</if>
            <if test="parentName != null">parent_name = #{parentName},</if>
            <if test="parentRelation != null">parent_relation = #{parentRelation},</if>
            <if test="parentJob != null">parent_job = #{parentJob},</if>
            <if test="familyAddress != null">family_address = #{familyAddress},</if>
            <if test="familyIncome != null">family_income = #{familyIncome},</if>
            <if test="familyPhone != null">family_phone = #{familyPhone},</if>
        </trim>
        where family_id = #{familyId}
    </update>

    <delete id="deleteStudentFamilyByFamilyId" parameterType="Long">
        delete from student_family where family_id = #{familyId}
    </delete>

    <delete id="deleteStudentFamilyByFamilyIds" parameterType="String">
        delete from student_family where family_id in 
        <foreach item="familyId" collection="array" open="(" separator="," close=")">
            #{familyId}
        </foreach>
    </delete>

</mapper>