<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.Canteenmanagement.mapper.CanteenShopMapper">
    
    <resultMap type="CanteenShop" id="CanteenShopResult">
        <result property="shopId"    column="shop_id"    />
        <result property="shopName"    column="shop_name"    />
        <result property="location"    column="location"    />
        <result property="shopType"    column="shop_type"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectCanteenShopVo">
        select shop_id, shop_name, location, shop_type, status from canteen_shop
    </sql>

    <select id="selectCanteenShopList" parameterType="CanteenShop" resultMap="CanteenShopResult">
        <include refid="selectCanteenShopVo"/>
        <where>  
            <if test="shopName != null  and shopName != ''"> and shop_name like concat('%', #{shopName}, '%')</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
            <if test="shopType != null  and shopType != ''"> and shop_type = #{shopType}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectCanteenShopByShopId" parameterType="Long" resultMap="CanteenShopResult">
        <include refid="selectCanteenShopVo"/>
        where shop_id = #{shopId}
    </select>

    <insert id="insertCanteenShop" parameterType="CanteenShop" useGeneratedKeys="true" keyProperty="shopId">
        insert into canteen_shop
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopName != null and shopName != ''">shop_name,</if>
            <if test="location != null and location != ''">location,</if>
            <if test="shopType != null and shopType != ''">shop_type,</if>
            <if test="status != null and status != ''">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopName != null and shopName != ''">#{shopName},</if>
            <if test="location != null and location != ''">#{location},</if>
            <if test="shopType != null and shopType != ''">#{shopType},</if>
            <if test="status != null and status != ''">#{status},</if>
         </trim>
    </insert>

    <update id="updateCanteenShop" parameterType="CanteenShop">
        update canteen_shop
        <trim prefix="SET" suffixOverrides=",">
            <if test="shopName != null and shopName != ''">shop_name = #{shopName},</if>
            <if test="location != null and location != ''">location = #{location},</if>
            <if test="shopType != null and shopType != ''">shop_type = #{shopType},</if>
            <if test="status != null and status != ''">status = #{status},</if>
        </trim>
        where shop_id = #{shopId}
    </update>

    <delete id="deleteCanteenShopByShopId" parameterType="Long">
        delete from canteen_shop where shop_id = #{shopId}
    </delete>

    <delete id="deleteCanteenShopByShopIds" parameterType="String">
        delete from canteen_shop where shop_id in 
        <foreach item="shopId" collection="array" open="(" separator="," close=")">
            #{shopId}
        </foreach>
    </delete>

</mapper>