<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('菜品台账子列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>关联档口ID：</label>
                                <input type="text" name="stallId"/>
                            </li>
                            <li>
                                <label>菜品名称：</label>
                                <input type="text" name="dishName"/>
                            </li>
                            <li>
                                <label>菜品单价：</label>
                                <input type="text" name="dishPrice"/>
                            </li>
                            <li>
                                <label>菜品分类：素菜/荤菜/汤品：</label>
                                <input type="text" name="dishCategory"/>
                            </li>
                            <li>
                                <label>当日销量：</label>
                                <input type="text" name="consumeCount"/>
                            </li>
                            <li>
                                <label>菜品消费总额：</label>
                                <input type="text" name="consumeTotal"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:dish:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:dish:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:dish:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:dish:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:dish:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:dish:remove')}]];
        var prefix = ctx + "system/dish";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "菜品台账子",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'dishId',
                    title: '菜品主键ID',
                    visible: false
                },
                {
                    field: 'stallId',
                    title: '关联档口ID'
                },
                {
                    field: 'dishName',
                    title: '菜品名称'
                },
                {
                    field: 'dishPrice',
                    title: '菜品单价'
                },
                {
                    field: 'dishCategory',
                    title: '菜品分类：素菜/荤菜/汤品'
                },
                {
                    field: 'saleStatus',
                    title: '销售状态：在售/售罄'
                },
                {
                    field: 'consumeCount',
                    title: '当日销量'
                },
                {
                    field: 'consumeTotal',
                    title: '菜品消费总额'
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.dishId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.dishId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>