<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改学生信息')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-StudentInfo-edit" th:object="${studentInfo}">
            <h4 class="form-header h4">学生信息信息</h4>
            <input name="studentId" th:field="*{studentId}" type="hidden">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">学生姓名：</label>
                    <div class="col-sm-8">
                        <input name="studentName" th:field="*{studentName}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">所属学院：</label>
                    <div class="col-sm-8">
                        <input name="college" th:field="*{college}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">学生专业：</label>
                    <div class="col-sm-8">
                        <input name="major" th:field="*{major}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">学生班级：</label>
                    <div class="col-sm-8">
                        <input name="className" th:field="*{className}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">创建时间：</label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <input name="createdAt" th:value="${#dates.format(studentInfo.createdAt, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">更新时间：</label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <input name="updatedAt" th:value="${#dates.format(studentInfo.updatedAt, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="form-header h4">住宿管理信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-white btn-sm" onclick="addRow()"><i class="fa fa-plus"> 增加</i></button>
                    <button type="button" class="btn btn-white btn-sm" onclick="sub.delRow()"><i class="fa fa-minus"> 删除</i></button>
                    <div class="col-sm-12 select-table table-striped">
                        <table id="bootstrap-table"></table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "Student_Info/StudentInfo";
        $("#form-StudentInfo-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-StudentInfo-edit').serialize());
            }
        }

        $("input[name='createdAt']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='updatedAt']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $(function() {
            var options = {
                data: [[${studentInfo.studentAccommodationList}]],
                pagination: false,
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                sidePagination: "client",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'index',
                    align: 'center',
                    title: "序号",
                    formatter: function (value, row, index) {
                    	var columnIndex = $.common.sprintf("<input type='hidden' name='index' value='%s'>", $.table.serialNumber(index));
                    	return columnIndex + $.table.serialNumber(index);
                    }
                },
                {
                    field: 'buildingNo',
                    align: 'center',
                    title: '宿舍楼号',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='studentAccommodationList[%s].buildingNo' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'floor',
                    align: 'center',
                    title: '楼层',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='studentAccommodationList[%s].floor' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'roomNo',
                    align: 'center',
                    title: '门牌号',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='studentAccommodationList[%s].roomNo' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'bedNo',
                    align: 'center',
                    title: '床位号',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='studentAccommodationList[%s].bedNo' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'checkInDate',
                    align: 'center',
                    title: '入住日期',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='studentAccommodationList[%s].checkInDate' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'checkOutDate',
                    align: 'center',
                    title: '退宿日期',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='studentAccommodationList[%s].checkOutDate' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'status',
                    align: 'center',
                    title: '状态',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='studentAccommodationList[%s].status' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'createdAt',
                    align: 'center',
                    title: '',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='studentAccommodationList[%s].createdAt' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'updatedAt',
                    align: 'center',
                    title: '',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='studentAccommodationList[%s].updatedAt' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var value = $.common.isNotEmpty(row.index) ? row.index : $.table.serialNumber(index);
                        return '<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="sub.delRowByIndex(\'' + value + '\')"><i class="fa fa-remove"></i>删除</a>';
                    }
                }]
            };
            $.table.init(options);
        });

        function addRow() {
            var count = $("#" + table.options.id).bootstrapTable('getData').length;
            var row = {
                index: $.table.serialNumber(count),
                buildingNo: "",
                floor: "",
                roomNo: "",
                bedNo: "",
                checkInDate: "",
                checkOutDate: "",
                status: "",
                createdAt: "",
                updatedAt: "",
            }
            sub.addRow(row);
        }
    </script>
</body>
</html>