<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改学院信息')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-CollegeInfo-edit" th:object="${collegeInfo}">
            <input name="collegeId" th:field="*{collegeId}" type="hidden">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label is-required">学院名称：</label>
                    <div class="col-sm-8">
                        <input name="collegeName" th:field="*{collegeName}" class="form-control" type="text" required>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">学院位置：</label>
                    <div class="col-sm-8">
                        <input name="location" th:field="*{location}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">学院官网URL：</label>
                    <div class="col-sm-8">
                        <input name="officialUrl" th:field="*{officialUrl}" class="form-control" type="text">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "CollegeManagement/CollegeInfo";
        $("#form-CollegeInfo-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-CollegeInfo-edit').serialize());
            }
        }
    </script>
</body>
</html>