<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StudentAcademicMapper">
    
    <resultMap type="StudentAcademic" id="StudentAcademicResult">
        <result property="academicId"    column="academic_id"    />
        <result property="studentId"    column="student_id"    />
        <result property="college"    column="college"    />
        <result property="major"    column="major"    />
        <result property="grade"    column="grade"    />
        <result property="className"    column="class_name"    />
        <result property="studyLength"    column="study_length"    />
        <result property="studentCardNo"    column="student_card_no"    />
        <result property="studentStatus"    column="student_status"    />
        <result property="comeDate"    column="come_date"    />
        <result property="graduateDate"    column="graduate_date"    />
    </resultMap>

    <sql id="selectStudentAcademicVo">
        select academic_id, student_id, college, major, grade, class_name, study_length, student_card_no, student_status, come_date, graduate_date from student_academic
    </sql>

    <select id="selectStudentAcademicList" parameterType="StudentAcademic" resultMap="StudentAcademicResult">
        <include refid="selectStudentAcademicVo"/>
        <where>  
            <if test="studentId != null "> and student_id = #{studentId}</if>
            <if test="college != null  and college != ''"> and college = #{college}</if>
            <if test="major != null  and major != ''"> and major = #{major}</if>
            <if test="grade != null  and grade != ''"> and grade = #{grade}</if>
            <if test="className != null  and className != ''"> and class_name like concat('%', #{className}, '%')</if>
            <if test="studyLength != null  and studyLength != ''"> and study_length = #{studyLength}</if>
            <if test="studentCardNo != null  and studentCardNo != ''"> and student_card_no = #{studentCardNo}</if>
            <if test="studentStatus != null  and studentStatus != ''"> and student_status = #{studentStatus}</if>
            <if test="comeDate != null "> and come_date = #{comeDate}</if>
            <if test="graduateDate != null "> and graduate_date = #{graduateDate}</if>
        </where>
    </select>
    
    <select id="selectStudentAcademicByAcademicId" parameterType="Long" resultMap="StudentAcademicResult">
        <include refid="selectStudentAcademicVo"/>
        where academic_id = #{academicId}
    </select>

    <insert id="insertStudentAcademic" parameterType="StudentAcademic" useGeneratedKeys="true" keyProperty="academicId">
        insert into student_academic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId != null">student_id,</if>
            <if test="college != null">college,</if>
            <if test="major != null">major,</if>
            <if test="grade != null">grade,</if>
            <if test="className != null">class_name,</if>
            <if test="studyLength != null">study_length,</if>
            <if test="studentCardNo != null">student_card_no,</if>
            <if test="studentStatus != null">student_status,</if>
            <if test="comeDate != null">come_date,</if>
            <if test="graduateDate != null">graduate_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentId != null">#{studentId},</if>
            <if test="college != null">#{college},</if>
            <if test="major != null">#{major},</if>
            <if test="grade != null">#{grade},</if>
            <if test="className != null">#{className},</if>
            <if test="studyLength != null">#{studyLength},</if>
            <if test="studentCardNo != null">#{studentCardNo},</if>
            <if test="studentStatus != null">#{studentStatus},</if>
            <if test="comeDate != null">#{comeDate},</if>
            <if test="graduateDate != null">#{graduateDate},</if>
         </trim>
    </insert>

    <update id="updateStudentAcademic" parameterType="StudentAcademic">
        update student_academic
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentId != null">student_id = #{studentId},</if>
            <if test="college != null">college = #{college},</if>
            <if test="major != null">major = #{major},</if>
            <if test="grade != null">grade = #{grade},</if>
            <if test="className != null">class_name = #{className},</if>
            <if test="studyLength != null">study_length = #{studyLength},</if>
            <if test="studentCardNo != null">student_card_no = #{studentCardNo},</if>
            <if test="studentStatus != null">student_status = #{studentStatus},</if>
            <if test="comeDate != null">come_date = #{comeDate},</if>
            <if test="graduateDate != null">graduate_date = #{graduateDate},</if>
        </trim>
        where academic_id = #{academicId}
    </update>

    <delete id="deleteStudentAcademicByAcademicId" parameterType="Long">
        delete from student_academic where academic_id = #{academicId}
    </delete>

    <delete id="deleteStudentAcademicByAcademicIds" parameterType="String">
        delete from student_academic where academic_id in 
        <foreach item="academicId" collection="array" open="(" separator="," close=")">
            #{academicId}
        </foreach>
    </delete>

</mapper>