<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改家庭信息')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-family-edit" th:object="${studentFamily}">
            <input name="familyId" th:field="*{familyId}" type="hidden">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">关联学生ID：</label>
                    <div class="col-sm-8">
                        <input name="studentId" th:field="*{studentId}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">与学生关系：</label>
                    <div class="col-sm-8">
                        <input name="parentRelation" th:field="*{parentRelation}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">家长职业：</label>
                    <div class="col-sm-8">
                        <input name="parentJob" th:field="*{parentJob}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">家庭住址：</label>
                    <div class="col-sm-8">
                        <input name="familyAddress" th:field="*{familyAddress}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">家庭经济情况：</label>
                    <div class="col-sm-8">
                        <input name="familyIncome" th:field="*{familyIncome}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">家庭固定电话：</label>
                    <div class="col-sm-8">
                        <input name="familyPhone" th:field="*{familyPhone}" class="form-control" type="text">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/family";
        $("#form-family-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-family-edit').serialize());
            }
        }
    </script>
</body>
</html>